h1 {
  color: Grey;
  text-align: center;
}

body{
  background-color: LightBlue;

}

#linkedin{
  display: block;
  margin: auto;
  height: 50px;
  weight: 100px;
  background-color: LightGray;
  border: 10px;
  text-align: center;

}