h1 {
  color: Grey;
  background-color: DarkBlue;
  text-align: center;
  border-margin: 10x 0 10x 0;
}

body{
  background-color: LightBlue;

}

#linkedin{
  display: block;
  margin: auto;
  height: 50px;
  weight: 100px;
  background-color: LightGray;
  border: 10px;
  text-align: center;

}